body {
    padding-top: 70px;
    <<<<<<< HEAD font-family: 'Dancing Script', cursive;
    =======margin: 0;
    padding: 0;
}

p {
    font-family: 'PT Sans Narrow', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Dancing Script', cursive;
}

.home-thumb img:hover {
    transform: scale(1.1);
}

.home-thumb img {
    transition: all 0.3s ease 0s;
    width: 100%;
}

.home-thumb {
    overflow: hidden;
}

--voor marrokohome #maincontent {
    border-top: 1px #dbdbdb solid;
    padding: 25px 0 0 0;
    overflow: hidden;
}

#aboutleft {
    float: left;
    width: 540px;
}

#aboutleft h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 15px 0;
}

#aboutleft h4 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 15px 0;
}

#aboutleft p {
    line-height: 135%;
    margin: 0 0 15px 0;
}

#articlesright {
    float: right;
    width: 380px;
}

#articlesright article {
    clear: both;
    margin: 0 0 20px 0;
    overflow: hidden;
}

#articlesright figure {
    padding: 5px;
    border: 1px #dbdbdb solid;
    float: left;
    width: 119px;
    height: 119px;
    margin: 0 15px 0 0;
}

#articlesright p {
    line-height: 135%;
}

#articlesright h5 {
    font-size: 1.3em;
    margin: 0 0 6px 0;
    color: #4086c6;
}

#articlesright h5:hover {
    color: #2f2f2f;
}

a.readmore,
a.readmore:visited {
    padding: 4px;
    font: 0.9em "Ubuntu", arial;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 1px #1e5298;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.12, rgb(109, 171, 229)), color-stop(0.56, rgb(59, 126, 189)));
    background-image: -moz-linear-gradient(center bottom, rgb(109, 171, 229) 12%, rgb(59, 126, 189) 56%);
    background-color: #468ac9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 10px 0 0 0;
    float: left;
}

a.readmore:hover {
    background-color: #2f2f2f;
    background-image: none;
    text-shadow: 0 0 1px #000;
    text-decoration: none;
}


/* Footer */

#footerwrap {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 30px 0;
    background: #2d2d2d url("../images/footerbg.jpg");
}

#mainfooter {
    text-shadow: 0 0 1px #000;
}

#mainfooter nav {
    float: left;
    font-style: italic;
    font-size: 1.1em;
}

#mainfooter nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#mainfooter li {
    list-style-type: none;
    float: left;
    margin: 0 35px 0 0;
}

#mainfooter li:last-child {
    margin-right: 0;
}

#mainfooter a,
#mainfooter a:visited {
    color: #fff;
}

.copyright {
    float: right;
    color: #b8b8b8;
}

.bodywidth {
    width: 960px;
    margin: 0 auto;
    clear: both;
}